.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 600px;
  height: auto;
  margin: auto;
  overflow: auto;
}

/* If you want to scale down the entire calendar heatmap */
.calendar-heatmap {
  transform: scale(0.1);
  transform-origin: top left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
